<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="../stylesheets/style.css">
    </head>
    <body>
		<div class="container">
            <h2> Add a Car </h2>
            <form>
			<p><label for="car_make"> Make: </label> <input type="text" name="car_make"> </p>
			<p><label for="car_model"> Model: </label> <input type="text" name="car_model"> </p>
			<p><label for="car_color"> Color: </label> <input type="text" name="car_color"> </p>
			<p><label for="car_year"> Year: </label> <input type="text" name="car_year"> </p>
			<input type="submit" value="Add Car">
		  </form>
		</div>
    </body>
</html>