
<div ng-controller="associationsController">
	<form>
		<select ng-model="newAssociation.player">
			<option ng-repeat="player in players" name="player.name"> {{player.first_name}} {{player.last_name}} </option>
		</select>
		<select ng-model="newAssociation.team">
			<option ng-repeat="team in teams" name="team.name"> {{team.name}} </option>
		</select>
		<input type="submit" value="Assign Player to Team" ng-click="addAssociation(newAssociation)">
	</form>
	<table class="table">
	<thead>
		<tr>
			<th> Name </th>
			<th> Team </th>
			<th> Actions </th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="association in associations">
			<td>{{association.player}}</td>
			<td>{{association.team}}</td>
			<td><input type="submit" value="Clear Assignment" ng-click="deleteAssignment($index)"></td>
		</tr>
	</tbody>
	</table>
</div>