
<div ng-controller="teamsController">
	<form>
		<p>Name:  <input type="text" ng-model="newTeam.name"></p>
		<input type="submit" value="Add Team" ng-click="addTeam(newTeam)">
	</form>
	<table class="table">
	<thead>
		<tr>
			<th> Name </th>
			<th> Actions </th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="team in teams track by $index" >
			<td><a href="#/{{team.name}}" ng-bind = 'team.name'></a></td>
			<td><input type="submit" value="Delete Team" ng-click="deleteTeam($index)"></td>
		</tr>
	</tbody>
	</table>
</div>