.container {
	max-width: 1000px;
	margin: 0 auto;
}

.img-wrap {
	max-width: 650px;
	margin: 0 auto;
}

img {
	margin: 10px;
}

h2{
	text-transform: uppercase;
	font-family: sans-serif;
	text-align: center;
	margin: 20px 0 0 0;
}